/* aligh text to center */
.App:not(nav) {
  text-align: center;
}
/* change color of links */
.App-link {
  color: #61dafb;
}
/* removes stylling og li elemnt */
li {
  list-style: none;
}
/* stylling for nav bar */
nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  flex-direction: row;
  gap: 2rem 2rem;
  top: 2rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  left: 5.2rem;
  right: 5.2rem;
}
/* change size of logo */
.logo {
  width: 6rem;
}
/* change size of appname */
.appname {
  width: 12rem;
}
/* change size of profile picture */
.profilegif {
  width: 5rem;
}
/* place name at the right location */
.profiletext {
  margin-top: -1rem;
  text-decoration: none;
  color: white;
}
/* makes changes to the input field for translation text */
.translationinput {
  width: 30rem;
  height: 6rem;
  text-align: center;
  border-radius: 0.375rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /*   background-color: rgb(188, 255, 152); */
  color: rgb(89, 149, 240);
  font-size: 1.1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: 1.7rem;
}
/* change the translation arrow */
.translationbtn {
  height: 4.4rem;
  border-radius: 50%;
  border-style: none;
  width: 4.4rem;
  color: white;
  background-color: rgb(34, 150, 243);
  margin-bottom: -1.9rem;
  margin-left: -2.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
}
/* changes for both congirmbtn and recording button removing default stylling */
.confirmbtn,
.recordingbtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  z-index: 20;
}
/* places the recording and adds shadow effect and size */
.recording {
  position: relative;
  height: 4.4rem;
  border-radius: 50%;
  border-style: none;
  width: 4.4rem;
  color: white;
  margin-bottom: -1.9rem;
  margin-left: -2.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
  margin-bottom: -7.14rem;
  margin-left: -39rem;
  z-index: 50;
}
/* made use of css to change which image shows depends on when pressed */
.recordingactive {
  position: relative;
  height: 4.4rem;
  border-radius: 50%;
  border-style: none;
  width: 4.4rem;
  color: white;
  margin-bottom: -1.9rem;
  margin-left: -2.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
  margin-bottom: -7.14rem;
  margin-left: -39rem;
  z-index: 60;
}
/* made a static gif and change it when pressed */
.recordingstatic {
  position: relative;
  height: 4.4rem;
  border-radius: 50%;
  border-style: none;
  width: 4.4rem;
  color: white;
  margin-bottom: -1.9rem;
  margin-left: -2.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
  margin-bottom: -5.6rem;
  margin-left: -39rem;
  z-index: 55;
}
/* made space from the top */
.TranslationSection {
  padding-top: 3rem;
}
/* where tanslated sign shows and made it scroolable */
.translatedSign {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 87%;
  min-block-size: 15rem;
  max-block-size: 18rem;
  overflow: scroll;
  margin-left: 4.6%;
  gap: 0.2rem 0.2rem;
  padding: 1rem;
  padding-bottom: 3rem;
  min-width: 18rem;
  border-radius: 0.375rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* made it move closer to input field */
.translatedSign section {
  margin-top: -0.3rem;
  font-size: 0.8rem;
}
/* made changes to spesific button inside class */
.translatedSign button {
  width: 4.4rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: white;
}
/* made spesific changes that change size and remove outline */
.translatedSign img {
  width: 4rem;
  height: 3rem;
  outline: none;
}
/* made changes under the tanslatedSign to make it fit bettter */
.undertranslation {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  font-size: 1rem;
  text-align: end;
  border-radius: 0.375rem;
  width: 87.1%;
  margin-left: 4.6%;
}
/* made changes to button */
.clearBtn {
  position: relative;
  height: 6rem;
  margin-top: -7rem;
  width: 6rem;
  border-radius: 50%;
  align-items: center;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 55;
}
/* made changes to stylling to fit translator page */
.extraInformationContrainer {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  width: 87.5%;
  margin-left: 4.6%;
}
/* changes to footer */
.Footertext {
  position: fixed;
  bottom: 0;
  left: 2rem;
  right: 2rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
}
/* made use of css to place them at the right place and with spesific background */
.profileInfo {
  position: relative;
  width: 87%;
  min-block-size: 18rem;
  max-block-size: 20rem;
  min-width: 10rem;
  margin-left: 4.6%;
  gap: 0.2rem 0.2rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
  border-radius: 0.6rem;
  color: white;
}
/* place it at spesific place with css */
.profileTranslatorlink {
  position: relative;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  width: 18rem;
}
/* made button hover effekt that effekts all button on site */
.profileTranslatorlink:hover,
.clearHistoryBtn:hover,
.logoutBtn:hover,
.loginsection button:hover {
  background: rgba(188, 255, 152, 0.633);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgb(255, 255, 255) 0px 0px 0px 3px;
}
/* made button active effekt that effekts all button on site */
.profileTranslatorlink:active,
.clearHistoryBtn:active,
.logoutBtn:active,
.loginsection button:active {
  background: rgba(7, 20, 166, 0.462);
  box-shadow: rgba(19, 37, 107, 0.331) 0px 1px 4px,
    rgb(255, 255, 255) 0px 0px 0px 3px;
}
/* made use of css to place it at spesific place */
.profileTranslate {
  position: relative;
  margin-bottom: -1rem;
  margin-top: 5rem;
}
/* stylling for cleatHistoryBtn */
.clearHistoryBtn {
  text-align: center;
  border-style: none;
  border-radius: 0.3125rem;
  position: absolute;
  padding: 0.6rem;
  color: #ffffff;
  bottom: 3rem;
  width: 20rem;
  margin-left: -10rem;
  background-color: rgba(255, 255, 255, 0.36);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* stylling for log out button */
.logoutBtn {
  text-align: center;
  border-style: none;
  border-radius: 0.3125rem;
  position: fixed;
  padding: 0.6rem;
  top: 1rem;
  right: 1rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.36);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* stylling for translated history */
.translationHistory {
  flex-flow: row wrap;
  position: relative;
  overflow: scroll;
  color: #ffffff;
  gap: 0.2rem 0.2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  margin-top: 1rem;
  margin-left: -1rem;
}
/* stylling for logsection that made it fit site better */
.loginsection {
  margin-top: 1rem;
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.375rem;
  border-style: solid;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
}
/* targeting fieldset inside loginsection */
.loginsection fieldset {
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.375rem;
  border-style: none;
  width: 35rem;
}
/* targeting input inside loginsection */
.loginsection input {
  padding: 0.6rem;
  text-align: center;
  align-self: center;
  border-radius: 0.375rem;
  border-style: none;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* targeting button inside loginsection */
.loginsection button {
  text-align: center;
  border-style: none;
  width: 20rem;
  border-radius: 0.3125rem;
  padding: 0.6rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.36);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* targeting label inside loginsection */
.loginsection label {
  font-size: 1.5rem;
}
/* targeting span or error message inside loginsection */
.loginsection span {
  font-size: 1.5rem;
}
/* profile translated text */
.translatedHistory {
  margin-top: 0.8rem;
  padding: 0.6rem;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: center;
  margin-left: -1rem;
  word-wrap: break-word;
  border-radius: 0.375rem;
  color: #fff;
  font-size: 1rem;
  width: 30rem;
  min-block-size: 5rem;
  max-block-size: 15rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* target h4 in translated sign at profile */
.translatedHistory h4 {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.375rem;
}
