/* choose the default font size and change it with @media to make it responsive depend on screen size ↓ */
html {
  font-size: 8px;
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 8px;
  }
  .extraInformationContrainer {
    margin-top: -15rem;
  }
  .profileTranslate {
    margin-top: -10rem;
  }
  .translatedHistory {
    height: 7rem;
  }
}
@media only screen and (min-width: 470px) {
  html {
    font-size: 10px;
  }
  .extraInformationContrainer {
    margin-top: -10rem;
  }
  .profileTranslate {
    margin-top: -10rem;
  }
}

@media only screen and (min-width: 570px) {
  html {
    font-size: 11px;
  }
  .extraInformationContrainer {
    margin-top: 1rem;
  }
  .profileTranslate {
    margin-top: -15rem;
  }
  .translatedHistory {
    height: 8rem;
  }
}

@media only screen and (min-width: 760px) {
  html {
    font-size: 12px;
  }
  .extraInformationContrainer {
    margin-top: 3.5rem;
  }
  .translationbtn {
    height: 3.6rem;
    border-radius: 100px;
    border-style: none;
    width: 3.6rem;
    color: white;
    background-color: rgb(35, 150, 243);
    margin-bottom: -20px;
    margin-left: -35px;
  }
  .profileTranslate {
    margin-top: -10rem;
  }
  .translatedHistory {
    height: 9rem;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 13px;
  }
  .extraInformationContrainer {
    margin-top: 6rem;
  }
  .translatedHistory {
    height: 10rem;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 15px;
  }
  .extraInformationContrainer {
    margin-top: 9rem;
  }
  .profileTranslate {
    margin-top: -5rem;
  }
  .translatedHistory {
    height: 15rem;
  }
}
@media only screen and (min-width: 2640px) {
  html {
    font-size: 18px;
  }
  .extraInformationContrainer {
    margin-top: 3rem;
  }
  .translatedHistory {
    height: 20rem;
  }
}
@media only screen and (min-width: 2840px) {
  html {
    font-size: 22px;
  }
}
/* choose the default font size and change it with @media to make it responsive depend on screen size ↑ */
/* removes default values ↓ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* removes default values ↑ */
/* Credit for background https://animatedbackgrounds.me/ ↓  */
.background:not(nav) {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  background-size: 500% 500%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1:not(nav) {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  font-size: 40px;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* Credit for background https://animatedbackgrounds.me/ ↑ */
